{
    "openapi": "3.1.1",
    "info": {
        "title": "Бронирование отелей",
        "description": "Бронирование отелей, глэмпингов и аппартаментов",
        "version": "1.5"
    },
    "servers": [
        {
            "url": "https://api.hotels.com/v1",
            "description": "Рабочий сервер"
        },
        {
            "url": "https://test-api.hotels.com",
            "description": "Тестовый сервер"
        }
    ],
    "components": {
        "parameters": {
            "hotelID": {
                "name": "hotelID",
                "description": "Идентификатор выбранного отеля",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "default": 1
                },
                "example": 75
            },
            "roomID": {
                "name": "roomID",
                "description": "Идентификатор выбранного номера в отеле",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "default": 1
                },
                "example": 65
            },
            "orderID": {
                "name": "orderID",
                "description": "Идентификатор выбранного бронирования номера",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "default": 1
                },
                "example": 435
            },
            "clientID": {
                "name": "clientID",
                "description": "Идентификатор выбранного клиента",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "default": 1
                },
                "example": 14
            },
            "offsetParam": {
                "name": "offset",
                "description": "Номер первого элемента на странице",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                }
            },
            "limitParam": {
                "name": "limit",
                "description": "Количество элементов на странице",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 100,
                    "default": 20
                }
            }
        },
        "schemas": {
            "Hotel": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "image",
                    "description",
                    "feedback"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "default": 1,
                        "description": "Идентификатор отеля"
                    },
                    "name": {
                        "type": "string",
                        "minLength": 10,
                        "maxLength": 200,
                        "description": "Полное наименование отеля"
                    },
                    "image": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 1000,
                        "description": "Изображение отеля (URL)"
                    },
                    "description": {
                        "type": "string",
                        "minLength": 100,
                        "maxLength": 1000,
                        "description": "Полное описание отеля"
                    },
                    "feedback": {
                        "type": "string",
                        "enum": [
                            "Ниже ожидаемого",
                            "Совпадает с ожиданием",
                            "Выше ожидаемого"
                        ],
                        "description": "Обратная связь от гостей"
                    },
                    "rooms": {
                        "type": "array",
                        "minItems": 10,
                        "maxItems": 200,
                        "description": "Список доступных номеров"
                    }
                },
                "example": {
                    "id": 412,
                    "name": "Отель 'Престиж'",
                    "image": "https://example.com/images/hotel-prestige.jpg",
                    "description": "Роскошный пятизвездочный отель в самом сердце Москвы с видом на Красную площадь",
                    "feedback": "Выше ожидаемого",
                    "rooms": [
                        101,
                        102,
                        103,
                        206,
                        204,
                        202,
                        615
                    ]
                }
            },
            "Room": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "isAvailable",
                    "hotelID"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "default": 1,
                        "description": "Идентификатор номера отеля"
                    },
                    "name": {
                        "oneOf": [
                            {
                                "type": "string",
                                "minLength": 1
                            },
                            {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 1
                            }
                        ],
                        "description": "Наименование номера отеля"
                    },
                    "isAvailable": {
                        "type": "boolean",
                        "description": "Статус выбранного номера"
                    },
                    "hotelID": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "default": 1,
                        "description": "Идентификатор отеля"
                    }
                },
                "example": {
                    "id": 615,
                    "name": "Люкс с видом на собор",
                    "isAvailable": true,
                    "hotelID": 412
                }
            },
            "Order": {
                "type": "object",
                "required": [
                    "id",
                    "roomID",
                    "clientID",
                    "dateTime"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "default": 1,
                        "description": "Идентификатор записи о бронировании номера в отеле"
                    },
                    "roomID": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "default": 1,
                        "description": "Идентификатор номера в отеле"
                    },
                    "clientID": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "default": 1,
                        "description": "Идентификатор клиента"
                    },
                    "dateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Дата и время выполнения бронирования"
                    }
                },
                "example": {
                    "id": 1521,
                    "roomID": 615,
                    "clientID": 362,
                    "dateTime": "2025-01-15T14:00:00Z"
                }
            },
            "Client": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "surname",
                    "patronymic",
                    "passport",
                    "phoneNumber"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "description": "Идентификатор клиента"
                    },
                    "name": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 50,
                        "description": "Полное имя клиента"
                    },
                    "surname": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 100,
                        "description": "Полная фамилия клиента"
                    },
                    "patronymic": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 100,
                        "description": "Полное отчество клиента"
                    },
                    "passport": {
                        "type": "string",
                        "pattern": "^[0-9]{10}$",
                        "description": "Серия и номер паспорта РФ клиента"
                    },
                    "phoneNumber": {
                        "type": "string",
                        "pattern": "^\\+7\\(\\d{3}\\)\\d{3}-\\d{2}-\\d{2}$",
                        "description": "Номер телефона клиента"
                    }
                },
                "example": {
                    "id": 362,
                    "name": "Иван",
                    "surname": "Иванов",
                    "patronymic": "Иванович",
                    "passport": "4510123456",
                    "phoneNumber": "+7(495)123-45-67"
                }
            },
            "Error": {
                "type": "object",
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "type": "string",
                        "description": "Человекочитаемое сообщение об ошибке",
                        "minLength": 10,
                        "maxLength": 500
                    },
                    "errorCode": {
                        "type": "string",
                        "description": "Машинночитаемый код ошибки",
                        "minLength": 5,
                        "maxLength": 25
                    }
                }
            }
        }
    },
    "paths": {
        "/hotels": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    }
                ],
                "summary": "Просмотр полного списка отелей",
                "description": "Возвращает полный список всех доступных для бронирования отелей",
                "tags": [
                    "Поиск отеля для бронирования номера"
                ],
                "operationId": "getHotels",
                "responses": {
                    "200": {
                        "description": "Список отелей успешно получен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Hotel"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidLimit": {
                                        "summary": "Некорректное значение limit",
                                        "value": {
                                            "message": "Параметр 'limit' должен быть числом от 10 до 100",
                                            "errorCode": "INVALID_LIMIT_PARAMETER"
                                        }
                                    },
                                    "invalidOffset": {
                                        "summary": "Некорректное значение offset",
                                        "value": {
                                            "message": "Параметр 'offset' должен быть неотрицательным числом",
                                            "errorCode": "INVALID_OFFSET_PARAMETER"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Создать отель",
                "description": "Создать запись об отеле",
                "tags": [
                    "Управление отелями"
                ],
                "operationId": "createHotel",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Hotel"
                            },
                            "examples": {
                                "newHotel": {
                                    "summary": "Создание отеля",
                                    "value": {
                                        "name": "Отель 'Премиум'",
                                        "image": "https://example.com/images/new-hotel.jpg",
                                        "description": "Современный отель премиум-класса с видом на город",
                                        "feedback": "Совпадает с ожиданием"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Отель успешно создан",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hotel"
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Отель создан",
                                        "value": {
                                            "id": 100,
                                            "name": "Отель 'Премиум'",
                                            "image": "https://example.com/images/new-hotel.jpg",
                                            "description": "Современный отель премиум-класса с видом на город",
                                            "feedback": "Совпадает с ожиданием",
                                            "rooms": []
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidDescription": {
                                        "summary": "Некорректное описание",
                                        "value": {
                                            "message": "Описание отеля должно содержать от 100 до 1000 символов",
                                            "errorCode": "INVALID_DESCRIPTION_LENGTH"
                                        }
                                    },
                                    "missingFields": {
                                        "summary": "Отсутствуют обязательные поля",
                                        "value": {
                                            "message": "Отсутствуют обязательные поля: name, image, description, feedback",
                                            "errorCode": "MISSING_REQUIRED_FIELDS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Конфликт",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "hotelExists": {
                                        "summary": "Отель уже существует",
                                        "value": {
                                            "message": "Отель с таким названием уже существует",
                                            "errorCode": "HOTEL_ALREADY_EXISTS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегрушен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hotels/{hotelID}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/hotelID"
                    }
                ],
                "summary": "Получить информацию об определенном отеле",
                "description": "Возвращает полную информацию об отеле по его уникальному идентификатору",
                "operationId": "getHotelByID",
                "tags": [
                    "Просмотр информации по выбранному отелю"
                ],
                "responses": {
                    "200": {
                        "description": "Информация об отеле успешно получена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Hotel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidID": {
                                        "summary": "Некорректный идентификатор отеля",
                                        "value": {
                                            "message": "Идентификатор отеля должен быть положительным числом",
                                            "errorCode": "INVALID_HOTEL_ID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Отель с указанным ID не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "notFound": {
                                        "summary": "Отель не существует",
                                        "value": {
                                            "message": "Отель с указанным ID не найден",
                                            "errorCode": "HOTEL_NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rooms": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    }
                ],
                "summary": "Получить список номеров",
                "description": "Возвращает полный список номеров с подробной информацией о каждом из них",
                "operationId": "getRooms",
                "tags": [
                    "Поиск номера в отеле для бронирования"
                ],
                "responses": {
                    "200": {
                        "description": "Список номеров успешно получен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Room"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidLimit": {
                                        "summary": "Некорректное значение limit",
                                        "value": {
                                            "message": "Параметр 'limit' должен быть числом от 10 до 100",
                                            "errorCode": "INVALID_LIMIT_PARAMETER"
                                        }
                                    },
                                    "invalidOffset": {
                                        "summary": "Некорректное значение offset",
                                        "value": {
                                            "message": "Параметр 'offset' должен быть неотрицательным числом",
                                            "errorCode": "INVALID_OFFSET_PARAMETER"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Создать номер",
                "description": "Создать запись о номере в отеле",
                "tags": [
                    "Управление номерами"
                ],
                "operationId": "createRoom",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Room"
                            },
                            "examples": {
                                "newRoom": {
                                    "summary": "Создание номера",
                                    "value": {
                                        "name": "Люкс Премиум",
                                        "isAvailable": true,
                                        "hotelID": 456
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Номер успешно создан",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Room"
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Номер создан",
                                        "value": {
                                            "id": 200,
                                            "name": "Люкс Премиум",
                                            "isAvailable": true,
                                            "hotelID": 456
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidHotelID": {
                                        "summary": "Некорректный идентификатор отеля",
                                        "value": {
                                            "message": "Идентификатор отеля должен быть положительным числом",
                                            "errorCode": "INVALID_HOTEL_ID"
                                        }
                                    },
                                    "missingFields": {
                                        "summary": "Отсутствуют обязательные поля",
                                        "value": {
                                            "message": "Отсутствуют обязательные поля: name, isAvailable, hotelID",
                                            "errorCode": "MISSING_REQUIRED_FIELDS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Связанный ресурс не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "hotelNotFound": {
                                        "summary": "Отель не найден",
                                        "value": {
                                            "message": "Указанный отель не существует",
                                            "errorCode": "HOTEL_NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Конфликт",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "roomExists": {
                                        "summary": "Номер уже существует",
                                        "value": {
                                            "message": "Номер с таким названием уже существует в этом отеле",
                                            "errorCode": "ROOM_ALREADY_EXISTS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренная ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rooms/{roomID}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/roomID"
                    }
                ],
                "summary": "Получить информацию об определенном номере",
                "description": "Возвращает полную информацию о номере по его уникальному идентификатору",
                "operationId": "getRoomByID",
                "tags": [
                    "Просмотр информации по определенному номеру"
                ],
                "responses": {
                    "200": {
                        "description": "Информация о номере успешно получена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Room"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidID": {
                                        "summary": "Некорректный идентификатор номера",
                                        "value": {
                                            "message": "Идентификатор номера должен быть положительным числом",
                                            "errorCode": "INVALID_ROOM_ID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Номер с указанным ID не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "notFound": {
                                        "summary": "Номер не существует",
                                        "value": {
                                            "message": "Номер с указанным ID не найден",
                                            "errorCode": "ROOM_NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    }
                ],
                "summary": "Получить список бронирований",
                "description": "Возвращает полный список всех бронирований",
                "operationId": "getOrders",
                "tags": [
                    "Бронирование номера в отеле"
                ],
                "responses": {
                    "200": {
                        "description": "Список бронирований успешно получен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Order"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidLimit": {
                                        "summary": "Некорректное значение limit",
                                        "value": {
                                            "message": "Параметр 'limit' должен быть числом от 10 до 100",
                                            "errorCode": "INVALID_LIMIT_PARAMETER"
                                        }
                                    },
                                    "invalidOffset": {
                                        "summary": "Некорректное значение offset",
                                        "value": {
                                            "message": "Параметр 'offset' должен быть неотрицательным числом",
                                            "errorCode": "INVALID_OFFSET_PARAMETER"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Забронировать номер",
                "description": "Забронировать выбранный номер в отеле",
                "tags": [
                    "Бронирование номера в отеле"
                ],
                "operationId": "createOrder",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Order"
                            },
                            "examples": {
                                "newOrder": {
                                    "summary": "Создание бронирования",
                                    "value": {
                                        "roomID": 615,
                                        "clientID": 362,
                                        "dateTime": "2025-01-15T14:00:00Z"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Бронирование успешно создано",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Order"
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Бронирование создано",
                                        "value": {
                                            "id": 1521,
                                            "roomID": 615,
                                            "clientID": 362,
                                            "dateTime": "2025-01-15T14:00:00Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidDateTime": {
                                        "summary": "Некорректная дата бронирования",
                                        "value": {
                                            "message": "Дата бронирования должна быть в будущем",
                                            "errorCode": "INVALID_DATETIME"
                                        }
                                    },
                                    "missingFields": {
                                        "summary": "Отсутствуют обязательные поля",
                                        "value": {
                                            "message": "Отсутствуют обязательные поля: roomID, clientID",
                                            "errorCode": "MISSING_REQUIRED_FIELDS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Связанный ресурс не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "roomNotFound": {
                                        "summary": "Номер не найден",
                                        "value": {
                                            "message": "Указанный номер не существует",
                                            "errorCode": "ROOM_NOT_FOUND"
                                        }
                                    },
                                    "clientNotFound": {
                                        "summary": "Клиент не найден",
                                        "value": {
                                            "message": "Указанный клиент не существует",
                                            "errorCode": "CLIENT_NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Конфликт",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "roomAlreadyBooked": {
                                        "summary": "Номер уже занят",
                                        "value": {
                                            "message": "Номер уже забронирован на указанные даты",
                                            "errorCode": "ROOM_ALREADY_BOOKED"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{orderID}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/orderID"
                    }
                ],
                "summary": "Получить информацию об определенном бронировании",
                "description": "Возвращает полную информацию о конкретном бронировании по его уникальному идентификатору",
                "operationId": "getOrderByID",
                "tags": [
                    "Просмотр информации по выбранному бронированию"
                ],
                "responses": {
                    "200": {
                        "description": "Информация о бронировании успешно получена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Order"
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Информация о бронировании",
                                        "value": {
                                            "id": 1521,
                                            "roomID": 615,
                                            "clientID": 362,
                                            "dateTime": "2025-01-15T14:00:00Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidID": {
                                        "summary": "Некорректный идентификатор бронирования",
                                        "value": {
                                            "message": "Идентификатор бронирования должен быть положительным числом",
                                            "errorCode": "INVALID_ORDER_ID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Запись о бронировании с таким ID не найдена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "notFound": {
                                        "summary": "Бронирование не существует",
                                        "value": {
                                            "message": "Запись о бронировании с указанным ID не найдена",
                                            "errorCode": "ORDER_NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    }
                ],
                "summary": "Получить список клиентов",
                "description": "Возвращает полный список всех клиентов",
                "operationId": "getClients",
                "tags": [
                    "Просмотр информации о всех клиентах"
                ],
                "responses": {
                    "200": {
                        "description": "Список клиентов успешно получен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Client"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidLimit": {
                                        "summary": "Некорректное значение limit",
                                        "value": {
                                            "message": "Параметр 'limit' должен быть числом от 10 до 100",
                                            "errorCode": "INVALID_LIMIT_PARAMETER"
                                        }
                                    },
                                    "invalidOffset": {
                                        "summary": "Некорректное значение offset",
                                        "value": {
                                            "message": "Параметр 'offset' должен быть неотрицательным числом",
                                            "errorCode": "INVALID_OFFSET_PARAMETER"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Создать клиента",
                "description": "Создать запись о клиенте",
                "tags": [
                    "Управление клиентами"
                ],
                "operationId": "createClient",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Client"
                            },
                            "examples": {
                                "newClient": {
                                    "summary": "Создание клиента",
                                    "value": {
                                        "name": "Иван",
                                        "surname": "Иванов",
                                        "patronymic": "Иванович",
                                        "passport": "4510123456",
                                        "phoneNumber": "+7(495)123-45-67"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Клиент успешно создан",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Client"
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Клиент создан",
                                        "value": {
                                            "id": 789,
                                            "name": "Иван",
                                            "surname": "Иванов",
                                            "patronymic": "Иванович",
                                            "passport": "4510123456",
                                            "phoneNumber": "+7(495)123-45-67"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidPassport": {
                                        "summary": "Некорректный формат паспорта",
                                        "value": {
                                            "message": "Паспорт должен содержать 10 цифр",
                                            "errorCode": "INVALID_PASSPORT_FORMAT"
                                        }
                                    },
                                    "invalidPhone": {
                                        "summary": "Некорректный формат телефона",
                                        "value": {
                                            "message": "Телефон должен быть в формате +7(XXX)XXX-XX-XX",
                                            "errorCode": "INVALID_PHONE_FORMAT"
                                        }
                                    },
                                    "missingFields": {
                                        "summary": "Отсутствуют обязательные поля",
                                        "value": {
                                            "message": "Отсутствуют обязательные поля: name, surname, passport",
                                            "errorCode": "MISSING_REQUIRED_FIELDS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Конфликт",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "clientExists": {
                                        "summary": "Клиент уже существует",
                                        "value": {
                                            "message": "Клиент с таким паспортом уже зарегистрирован",
                                            "errorCode": "CLIENT_ALREADY_EXISTS"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clients/{clientID}": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/clientID"
                    }
                ],
                "summary": "Получить информацию об определенном клиенте",
                "description": "Возвращает полную информацию о конкретном клиенте по его уникальному идентификатору",
                "operationId": "getClientByID",
                "tags": [
                    "Просмотр информации по выбранному клиенту"
                ],
                "responses": {
                    "200": {
                        "description": "Информация о клиенте успешно получена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Client"
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Информация о клиенте",
                                        "value": {
                                            "id": 789,
                                            "name": "Иван",
                                            "surname": "Иванов",
                                            "patronymic": "Иванович",
                                            "passport": "4510123456",
                                            "phoneNumber": "+7(495)123-45-67"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Некорректные параметры запроса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "invalidID": {
                                        "summary": "Некорректный идентификатор клиента",
                                        "value": {
                                            "message": "Идентификатор клиента должен быть положительным числом",
                                            "errorCode": "INVALID_CLIENT_ID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Клиент с таким ID не найден",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "notFound": {
                                        "summary": "Клиент не существует",
                                        "value": {
                                            "message": "Клиент с указанным ID не найден",
                                            "errorCode": "CLIENT_NOT_FOUND"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "databaseError": {
                                        "summary": "Ошибка базы данных",
                                        "value": {
                                            "message": "Внутренняя ошибка сервера",
                                            "errorCode": "DATABASE_CONNECTION_ERROR"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Сервис временно недоступен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "maintenance": {
                                        "summary": "Техническое обслуживание",
                                        "value": {
                                            "message": "Сервис временно недоступен. Ведутся технические работы",
                                            "errorCode": "SERVICE_MAINTENANCE"
                                        }
                                    },
                                    "overload": {
                                        "summary": "Перегрузка сервера",
                                        "value": {
                                            "message": "Сервис временно перегружен. Попробуйте повторить запрос позже",
                                            "errorCode": "SERVICE_OVERLOAD"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}